.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
notebooks/*.nb.html
notebooks/*.html
notebooks/*.pdf
notebooks/*.png
deprecated
201809_workflow/*.nb.html
201809_workflow/*.html
201809_workflow/*.pdf
201809_workflow/*.png
notebooks/.ipynb_checkpoints/