.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
notebooks/*.nb.html
notebooks/*.html
notebooks/*.pdf
notebooks/*.png
deprecated
workflows/*.nb.html
workflows/*.html
workflows/*.pdf
workflows/*.png
notebooks/.ipynb_checkpoints/
